
<small>
<ul>
<button class="bg-sky-500 hover:bg-sky-700 "><a href="/contact">Go To The Contact Page </a></button>
<button class="bg-sky-800/ hover:bg-indigo-500 bg-transparent gap-3"><a href="/">Go to the Home Page</a></button>
<button class="bg-cyan-100 hover:bg-sky-400  gap-4"><a href="/about">Go to the About Page</a></button>
<button class="bg-slate-200 hover:bg-zinc-700 bg-current gap-5"><a href="/link">Go to the Links Page</a></button>
<button class="bg-neutral-400 hover:bg-stone-50 gap-6"><a href="/portfolio/">Go to the Portfolio Page</a></button>
<button class="bg-sky-800 hover:bg-slate-100 gap-7"><a href="/pictures/">Go to the Pictures Page</a></button>
<button class="bg-slate-200 hover:bg-yellow-50 gap-2"><a href="/blog/navBar">Go to the Blog Page</a></button>
<button class="bg-slate-600 hover:bg-transparent gap-1"><a href="https://x.com/astrodotbuild">Go to the Twitter Page</a></button>
<button class="bg-sky-100 hover:bg-yellow-50 text-left gap-0"><a href="https://github.com/withastro/astro">Go to Github Page</a></button>
<button class="bg-slate-200 hover:bg-stone-100 gap-1"><a href="https://www.wsj.com/">Go to News</a></button>
<button class="bg-slate-200 hover:bg-stone-100 gap-1"><a href="https://www.google.com/search?gs_ssp=eJzj4tLP1TcwMqs0MrMwYPTiLTEyUCjPL8pJUUguLQAAYHoHnw&q=t20+world+cup&rlz=1C1GCEU_en&oq=&gs_lcrp=EgZjaHJvbWUqCQgCEC4YJxjqAjIJCAAQIxgnGOoCMgkIARAjGCcY6gIyCQgCEC4YJxjqAjIJCAMQIxgnGOoCMgkIBBAjGCcY6gIyCQgFECMYJxjqAjIJCAYQIxgnGOoCMgkIBxBFGDsYwgPSAQszMTYyNDk5ajBqN6gCCLACAQ&sourceid=chrome&ie=UTF-8">Go to Men's T20 Score</a></button>
<button class="bg-blue-600 hover:bg-white"><a href="https://www.sanity.io/login?origin=https%3A%2F%2Fwww.sanity.io%2Fmanage%2Fpersonal%2Fproject%2Fpuacj25x%2Fplan">Sanity/nextjs</a></button>
</ul>
</small>
