---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="A retired investor wo indulges in dailt trading"
	pubDate={new Date('May 08 2024')}
	heroImage="/post-8a.jpg"
>
	<p>
		<h1>Aussies to play two T20 warm-ups in T&T</h1>

TRINIDAD and Tobago will host eight matches in the warm-up phase of the 2024 ICC World Cup next month and among those fixtures will be a clash between West Indies and Australia on May 30 at the Queen's Park Oval in St Clair.

The Aussies will play two matches at the Oval, the other match being against Namibia on May 28, while the Windies will play just one warm-up game.

While the hosts will have just one warm-up fixture, they will face South Africa in three T20Is in Jamaica from May 23 to 26 prior to their arrival in T& T.

Eight warm-up matches are scheduled to be played in Trinidad, with the World Cup venue the Brian Lara Cricket Academy hosting four and warm-up/practice venue Queen's Park Oval hosting four.

The warm-up period runs from May 27 to June 1.

The tournament takes place from June 1-29 in the Caribbean and the United States.

The official warm-up match fixtures were announced yesterday.

Eight matches are also scheduled to be played in the US, split between the Grand Prairie Cricket Stadium, and the Broward County Stadium.

Warm-up fixtures will be 20 overs per side and will not carry international T20 status, as teams will be allowed to field all members of their 15-player squad.

And in a change from the previous rights cycle, teams will now have the option of playing up to two warm-up matches depending on arrival time at the event.

The West Indies against Australia fixture at the Oval will be open to fans and tickets will be available at tickets.t20worldcup.com or box offices located at the National Cricket Centre and Queen's Park Oval and went on sale yesterday.


World Cup Warm-up match schedule:

<h2>Monday 27 May</h2>


Canada vs Nepal, Grand Prairie Cricket Stadium, 10.30 a.m.


Oman vs Papua New Guinea, Brian Lara Cricket Academy, 3 p.m.


Namibia vs Uganda, Brian Lara Cricket Academy, 7 p.m.


<h2>Tuesday 28 May</h2>

Sri Lanka vs Netherlands, Broward County Stadium, 10.30 a.m.

Bangladesh vs USA, Grand Prairie Cricket Stadium, 10.30 a.m.

Australia vs Namibia, Queen's Park Oval, 7 p.m.

<h2>Wednesday 29 May</h2>

South Africa intra-squad, Broward County Stadium, 10.30 a.m.

Afghanistan vs Oman, Queen's Park Oval, 1 p.m.

<h2>Thursday 30 May</h2>

Nepal vs USA, Grand Prairie Cricket Stadium, 10.30 a.m.

Scotland vs Uganda, Brian Lara Cricket Academy, 10.30 a.m.

Netherlands vs Canada, Grand Prairie Cricket Stadium, 3 p.m.

Namibia vs Papua New Guinea, Brian Lara Cricket Academy, 3 p.m.

West Indies vs Australia, Queen's Park Oval, 7 p.m.

<h2>Friday 31 May</h2>

Ireland vs Sri Lanka, Broward County Stadium, 10.30 a.m.

Scotland vs Afghanistan, Queen's Park Oval, 10.30 a.m.

<h2>Saturday 1 June</h2>

Bangladesh vs India, Venue TBC USA
</p>

	<p>
		<h3>Ahye 3rd in Italy</h3>

■ SAVONA

JAMAICAN sprint hurdlers, Omar McLeod and Brittany Anderson logged solid wins at the 13th Savona International meet Wednesday in Italy.

Trinidad and Tobago flat sprinter Michelle-Lee Ahye also ran impressively to grab a podium finish at the meet, which took place at Centro Sportivo Fontanassa in the city of Savona.

McLeod, the 2016 Rio Olympics Men's 110 metres hurdles champion, opened his season with a time of 13.37 seconds to finish narrowly ahead of Joshua Zeller of Great Britain, with a time of 13.42 secs, and Enrique Llopis of Spain, with a time of 13.43.

It was the first competitive race in the discipline since April last year at the LSU Invitational in the United States, and he will be looking to build on this start with the Jamaica national championships about six weeks away.

Anderson, 23, a World Championship silver medallist in the Women's 100m hurdles two years ago, continued her strong early form with a season- best time of 12.88.

She too, cut it close, finishing only four hundredths-of-a-second ahead of Zarah Lavin of Ireland, with hometown girl Eliza Maria Di Lazzaro finishing in 12.99 to cop third.

Ahye, 32, the 2018 Commonwealth Games women's 100 champion, ran nowhere near her personal best and clocked 11.16 to settle for third in the dash behind hometown girl Zaynab Dosso, whose winning time was 11.02, and Patrizia Van Der Weken of Luxembourg with a time of 11.12.
[ahye]
RAN 11.16: Michelle-Lee Ahye
	</p>

	<p>
		Mollis nunc sed id semper risus in. Convallis a cras semper auctor neque. Diam sit amet nisl
		suscipit. Lacus viverra vitae congue eu consequat ac felis donec. Egestas integer eget aliquet
		nibh praesent tristique magna sit amet. Eget magna fermentum iaculis eu non diam. In vitae
		turpis massa sed elementum. Tristique et egestas quis ipsum suspendisse ultrices. Eget lorem
		dolor sed viverra ipsum. Vel turpis nunc eget lorem dolor sed viverra. Posuere ac ut consequat
		semper viverra nam. Laoreet suspendisse interdum consectetur libero id faucibus. Diam phasellus
		vestibulum lorem sed risus ultricies tristique. Rhoncus dolor purus non enim praesent elementum
		facilisis. Ultrices tincidunt arcu non sodales neque. Tempus egestas sed sed risus pretium quam
		vulputate. Viverra suspendisse potenti nullam ac tortor vitae purus faucibus ornare. Fringilla
		urna porttitor rhoncus dolor purus non. Amet dictum sit amet justo donec enim.
	</p>

	<p>
		Mattis ullamcorper velit sed ullamcorper morbi tincidunt. Tortor posuere ac ut consequat semper
		viverra. Tellus mauris a diam maecenas sed enim ut sem viverra. Venenatis urna cursus eget nunc
		scelerisque viverra mauris in. Arcu ac tortor dignissim convallis aenean et tortor at. Curabitur
		gravida arcu ac tortor dignissim convallis aenean et tortor. Egestas tellus rutrum tellus
		pellentesque eu. Fusce ut placerat orci nulla pellentesque dignissim enim sit amet. Ut enim
		blandit volutpat maecenas volutpat blandit aliquam etiam. Id donec ultrices tincidunt arcu. Id
		cursus metus aliquam eleifend mi.
	</p>

	<p>
		Tempus quam pellentesque nec nam aliquam sem. Risus at ultrices mi tempus imperdiet. Id porta
		nibh venenatis cras sed felis eget velit. Ipsum a arcu cursus vitae. Facilisis magna etiam
		tempor orci eu lobortis elementum. Tincidunt dui ut ornare lectus sit. Quisque non tellus orci
		ac. Blandit libero volutpat sed cras. Nec tincidunt praesent semper feugiat nibh sed pulvinar
		proin gravida. Egestas integer eget aliquet nibh praesent tristique magna.
	</p>
</Layout>
