---
import Layout from '../layouts/BlogPost.astro';
---
<Layout
	title="Hercial Vitalis"
	description="A retired investor wo indulges in dailt trading"
	pubDate={new Date('May 15 2024')}
	heroImage="/headshot.jpg"
>
</Layout>
<Layout
	title="Varna & Family"
	description="A retired investor"
	pubDate={new Date('May 16 2024')}
	heroImage="/headshot2.jpg"
>
</Layout>
<Layout
	title="Underground rail"
	description="Historical rail tracks were found "
	pubDate={new Date('May 17 2024')}
	heroImage="/rail-3.jpg"
>
<p>Fr. Ransome invited all the parishioners after 7pm Mass on Friday 17th May 2024
	to visit the front of the renovations of the presbytery. The old building is being
	renovated to include an Office and Adoration chapel. During the project the workmen
	uncovered the above rail ( see picture above) from the country rail system to 
</p>
</Layout>
<Layout
	title="Gran-children"
	description="Varna family"
	pubDate={new Date('May 15 2024')}
	heroImage="/anya.jpg"
>
<h3>Anya</h3>
</Layout>
<Layout
	title="Our Grand kid"
	description="Varna family"
	pubDate={new Date('May 27 2024')}
	heroImage="/anya2.jpg"
>
<h3>Anya expects it to rain</h3>
</Layout>
<Layout
	title="Alex in school uniform"
	description="Varna family"
	pubDate={new Date('May 27 2024')}
	heroImage="/alex.jpg"
>
<h3>Alex Adonin</h3>
</Layout>
<Layout
<Layout
	title="school album"
	description="Varna family"
	pubDate={new Date('May 27 2024')}
	heroImage="/group.jpg"
>
<h3>Alex Adonin & school mates 2024</h3>
</Layout>
<Layout
