
<h1>Your Total Balance for Tuesday May 14 2024</h1>
Current Value
$148,137.42
Today's Change
 $6.48
Available Cash 
$291.44
Available to Trade 
$291.44

<h3>Market UpdateQuotes at least 15 mins delayed</h3>

OverviewFixed IncomeTop Broad Market Indices
Name	Price	Day Change
DJIA	39,558.11	0.00 (0.00%)
S&P 500	5,246.68	0.00 (0.00%)
NASDAQ	16,511.18	0.00 (0.00%)
[DOW](/dow.png)

<h1>Your Total Balance for Friday May 17 2024</h1>
<p>Total
$149,235.69
+$6.54 0.00%</p>
<p>Equities
88.47%
$132,031.72
+$4.72 0.00%</p>
<p>Investment ...
11.33%
$16,905.32
$0.00 0.00%</p>
<p>Cash, Money...
0.20%
$298.65
+$1.82 </p>

<h3>Market</h3>
Market UpdateQuotes at least 15 mins delayed
OverviewFixed IncomeTop Broad Market Indices

<h3>|Name  |	**Price**   |	__Day Change__|</h3>


|   DJIA  |	40,003.59	| 134.21 (0.34%)  |

<h3>|S&P 500  |5,303.27 	|6.17 (0.12%) |</h3>
|NASDAQ	  |16,685.97	| -12.35 (-0.07%) |</h3>

<h1>Your Total Balance for Monday May 20 2024</h1>
<p>
    Total
    $149,235.69
    +$6.54 0.00%
    Equities
    88.47%
    $132,031.72
    +$4.72 0.00%
    Investment ...
    11.33%
    $16,905.32
    $0.00 0.00%
    Cash, Money...
    0.20%
    $298.65
    +$1.82 +0.61</p>
    <p>Market UpdateQuotes at least 15 mins delayed
        Overview Fixed IncomeTop Broad Market Indices
        Name	Price	Day Change
        DJIA	40,003.59	0.00 (0.00%)
        S&P 500	5,303.27	0.00 (0.00%)
        NASDAQ	16,685.97	0.00 (0.00%)
        </p>
    <p>
        Total PM
$149,148.63
-$80.52 -0.05%
Equities
88.62%
$132,169.51
+$142.51 +0.11%
Investment ...
11.18%
$16,680.47
-$224.85 -1.33%
Cash, Money...
0.20%
$298.65
+$1.82 +0.6
    </p>
<p>Market
    Market UpdateQuotes at least 15 mins delayed
    OverviewFixed IncomeTop Broad Market Indices
    Name	Price	Day Change
    DJIA	39,806.77	 -196.82 (-0.49%)
    S&P 500	0.00	0.00 (0.00%)
    NASDAQ	16,794.87	 108.91 (0.65%)
    
    </p>
