---
import Layout from '../layouts/BlogPost.astro';
---
<Layout
	title="Guardian Holding Ltd"
	description="GHL final dividend 2023"
	pubDate={new Date('April 17 2024')}
	heroImage="/ppost-1.jpg"
></Layout>
<Layout
	title="First Citizens"
	description="Investor Statement"
	pubDate={new Date('May 08 2024')}
	heroImage="/ppost-2.jpg"
    ></Layout>
    <Layout
	title="First Citizens"
	description="Page 2"
	pubDate={new Date('May 08 2024')}
	heroImage="/ppost-3.jpg"
    ></Layout>
	<Layout
	title="Royal Bank"
	description="Page 2"
	pubDate={new Date('May 08 2024')}
	heroImage="/ppost-4.jpg"
    ></Layout>
	<Layout
	title="Royl Bank"
	description="Page 2"
	pubDate={new Date('May 08 2024')}
	heroImage="/ppost-5.jpg"
    ></Layout>
	<Layout
	title="First Citizens"
	description="Page 2"
	pubDate={new Date('May 08 2024')}
	heroImage="/ppost-6.jpg"
    ></Layout>
	<Layout
	title="Guardian Group"
	description="MotorGuard Renewal 2008 Toyota Corolla Sedan"
	pubDate={new Date('May 08 2023')}
	heroImage="/ppost-7.jpg"
    ></Layout>
	<Layout
	title="Guardian Group Page 2"
	description="Renewal 2008 Toyota Corolla Sedan"
	pubDate={new Date('May 08 2023')}
	heroImage="/ppost-8.jpg"
    ></Layout>
	<Layout
	title="Guardian Group"
	description="HomeGuard Renewal 40 Edinburgh Gardens"
	pubDate={new Date('July 08 2023')}
	heroImage="/ppost-9.jpg"
    ></Layout>
	<Layout
	title="Guardian Group Page 2"
	description=" Home Renewal "
	pubDate={new Date('July 08 2023')}
	heroImage="/ppost-10.jpg"
    ></Layout>
	<Layout
	title="Trinidad Express Newspaper"
	description=" Year renewal 2024-2025 "
	pubDate={new Date('April 19 2024')}
	heroImage="/ppost-11.jpg"
    ></Layout>
	<Layout
	title="WISE"
	description="Client Staement "
	pubDate={new Date('July 08 2023')}
	heroImage="/ppost-12.jpg"
    ></Layout>
	<Layout
	title="WISE page 2"
	description="Client Staement "
	pubDate={new Date('July 08 2023')}
	heroImage="/ppost-13.jpg"
    ></Layout>
	<Layout
	title="WISE"
	description="Client Staement "
	pubDate={new Date('July 08 2023')}
	heroImage="/ppost-14.jpg"
    ></Layout>
	<Layout
	title="WISE Page 2"
	description="Client Staement "
	pubDate={new Date('July 08 2023')}
	heroImage="/ppost-15.jpg"
    ></Layout>
	<Layout
	title="RBC Mutual Funds"
	description="Client Staement "
	pubDate={new Date('July 08 2023')}
	heroImage="/ppost-16.jpg"
    ></Layout>
	<Layout
	title="RBC Mutual Funds Page 2"
	description="Client Staement "
	pubDate={new Date('July 08 2023')}
	heroImage="/ppost-17.jpg"
    ></Layout>
	<Layout
	title="RBC Mutual Funds 3"
	description="Client Staement "
	pubDate={new Date('July 08 2023')}
	heroImage="/ppost-18.jpg"
    ></Layout>
	<Layout
	title="RBC Mutual Funds Page 4"
	description="Client Staement "
	pubDate={new Date('July 08 2023')}
	heroImage="/ppost-19.jpg"
    ></Layout>
	<Layout
	title="RBC Mutual Funds Page 5"
	description="Client Staement "
	pubDate={new Date('July 08 2023')}
	heroImage="/ppost-20.jpg"
    ></Layout>
	<Layout
	title="RBC Mutual Funds Page 1"
	description="Client Staement "
	pubDate={new Date('July 08 2023')}
	heroImage="/ppost-21.jpg"
    ></Layout>
	<Layout
	title="RBC Mutual Funds Page 2"
	description="Client Staement "
	pubDate={new Date('July 08 2023')}
	heroImage="/ppost-22.jpg"
    ></Layout>
	<Layout
	title="RBC Mutual Funds Page 3"
	description="Client Staement "
	pubDate={new Date('July 08 2023')}
	heroImage="/ppost-23.jpg"
    ></Layout>
	<Layout
	title="WISE"
	description="Client Staement "
	pubDate={new Date('July 08 2023')}
	heroImage="/ppost-24.jpg"
    ></Layout>
	<Layout
	title="WISE"
	description="Client Staement "
	pubDate={new Date('July 08 2023')}
	heroImage="/ppost-25.jpg"
    ></Layout>
	<Layout
	title="Land and Building "
	description="Client Staement "
	pubDate={new Date('July 08 2023')}
	heroImage="/ppost-26.jpg"
    ></Layout>
	<Layout
	title="WASA Receipt"
	description="Client Staement "
	pubDate={new Date('July 08 2023')}
	heroImage="/ppost-27.jpg"
    ></Layout>
	<Layout
	title="Permit Renewal"
	description="Client Staement "
	pubDate={new Date('July 08 2023')}
	heroImage="/ppost-28.jpg"
    ></Layout>
	<Layout
	title="Permit Renewal"
	description="Client Staement "
	pubDate={new Date('July 08 2023')}
	heroImage="/ppost-29.jpg"
    ></Layout>
	<Layout
	title="ACCA"
	description="Pass "
	pubDate={new Date('July 08 2023')}
	heroImage="/ppost-30.jpg"
    ></Layout>
	<Layout
	title="ACCA"
	description=" Back of Pass "
	pubDate={new Date('July 08 2023')}
	heroImage="/ppost-31.jpg"
    ></Layout>
	<Layout
	title="First Citizens"
	description="Equity Monthly Statement "
	pubDate={new Date('April 30 2024')}
	heroImage="/ppost-32_0001.jpg"
    ></Layout>
	<Layout
	title="First Citizens"
	description="Equity Monthly Statement "
	pubDate={new Date('April 30 2024')}
	heroImage="/ppost-32_0002.jpg"
    ></Layout>
	<Layout
	title="First Citizens"
	description="Quarterly Investor Statement "
	pubDate={new Date('April 30 2024')}
	heroImage="/ppost-34.jpg"
    ></Layout>
	<Layout
	title="Royal Bank"
	description="Vitalis/Co Ltd Statement"
	pubDate={new Date('May 08 2024')}
	heroImage="/ppost-33_0001.jpg"
    ></Layout>
	<Layout
	title="Royal Bank"
	description="Vitalis/Co Ltd Statement"
	pubDate={new Date('May 08 2024')}
	heroImage="/ppost-33_0002.jpg"
    ></Layout>
	<Layout
	title="Royal Bank"
	description="Vitalis/Co Ltd Statement"
	pubDate={new Date('May 17 2024')}
	heroImage="/ppost-36.jpg"
    ></Layout>
	<Layout
	title="House Tax"
	description="To be announced"
	pubDate={new Date('May 17 2024')}
	heroImage="/ppost-33_0001_0001.jpg"
    ></Layout>
	<Layout
	title="House Tax"
	description="To be announced"
	pubDate={new Date('May 17 2024')}
	heroImage="/ppost-33_0001_0002.jpg"
    ></Layout>
	<Layout
	title="Asset Summary"
	description="Pershing"
	pubDate={new Date('May 19 2024')}
	heroImage="/blog-placeholder-14.jpg"
    ></Layout>
	<Layout
	title="TMX Trust Co."
	description="Dividemd Cheque"
	pubDate={new Date('May 19 2024')}
	heroImage="/ppost-37.jpg"
    ></Layout>
	<Layout
	title="Hilux Mortgage Deed"
	description="tecu Credit Union"
	pubDate={new Date('May 19 2024')}
	heroImage="/Scan_20240519.jpg"
    ></Layout>
	<Layout
	title="Hilux Mortgage Deed Front"
	description="tecu Credit Union"
	pubDate={new Date('May 19 2024')}
	heroImage="/ppost-38_0001.jpg"
    ></Layout>
	<Layout
	title="Hilux Mortgage Deed Back"
	description="tecu Credit Union"
	pubDate={new Date('May 19 2024')}
	heroImage="/ppost-38_0002.jpg"
    ></Layout>
	<Layout
	title="T & TEC Bill"
	description="Account 655284-655284"
	pubDate={new Date('May 19 2024')}
	heroImage="/ppost-39.jpg"
    ></Layout>
	<Layout
	title="Water Pump Repair"
	description="Change water pump smart-head"
	pubDate={new Date('June 13 2024')}
	heroImage="/ppost-41.jpg"
    ></Layout>
	<Layout
	title="Wise"
	description="Wise statement & pipe  bill"
	pubDate={new Date('June 13 2024')}
	heroImage="/ppost-42.jpg"
    ></Layout>
	<Layout
	title="Tecu Credit Union"
	description="Change water pump smart-head"
	pubDate={new Date('June 13 2024')}
	heroImage="/ppost-43.jpg"
    ></Layout>
	<Layout
	title="Tecu Credit Union"
	description="Change water pump smart-head"
	pubDate={new Date('June 13 2024')}
	heroImage="/ppost-43.0001.jpg"
    ></Layout>
	<Layout
	title="Tecu Credit Union"
	description="Change water pump smart-head"
	pubDate={new Date('June 13 2024')}
	heroImage="/ppost-43.0002.jpg"
    ></Layout>
	<Layout
	title="Royal bank Business Account"
	description="Vitalis & Co Ltd TTD "
	pubDate={new Date('June 13 2024')}
	heroImage="/ppost-43.0003.jpg"
    ></Layout>
	<Layout
	title="Royal Bank "
	description="Royal Account"
	pubDate={new Date('June 13 2024')}
	heroImage="/ppost-43.0004.jpg"
    ></Layout>
	<Layout
	title="Royal Bank "
	description="Royal Account"
	pubDate={new Date('June 13 2024')}
	heroImage="/ppost-43.0005.jpg"
    ></Layout>
	<Layout
	title="UNC Star Team "
	description="Star vs Patriots"
	pubDate={new Date('June 16 2024')}
	heroImage="/"
    >
	Star Team

	slate of candidates:
	
	1. Deputy political leader - Senator Jearlean John
	
	2. Deputy political leader - MP Dr Roodal Moonilal
	
	3. Deputy political leader - MP David Lee
	
	4. Chairman - MP Davendranath Tancoo
	
	5. Deputy chair - Hamlin Jailal
	
	6. Treasurer - Alderman Viliana Ramoutarsingh
	
	7. Policy & strategy officer - MP Saddam Hosein
	
	8. Elections officer - MP Arnold Ram
	
	9. Education officer - MP Ravi Ratiram
	
	10. Research officer - Former senator Sean Sobers
	
	11. Party organiser - MP Barry Padarath
	
	12. International relations officer - Nicolas Morris
	
	13. North West regional representative - Eli Zakour
	
	14. Central regional representative - MP Vandana Mohit
	
	15. North East regional representative - MP Khadijah Ameen
	
	16. South Regional representative - Councillor Shanty Boodram
	
	17. Tobago regional representative - Councilor Kenwyn Phillip
	
	United Patriots
	
	slate of candidates:
	
	1. Deputy political leader - MP Rushton Paray
	
	2. Deputy political leader - MP Anita Haynes-Alleyne
	
	3. Deputy political leader - MP Dr Rai Ragbir
	
	4. Chairman - Larry Lalla, SC
	
	5. Deputy chair - Germaine Abdulla
	
	6. Treasurer - Curtis Manchoon
	
	7. Policy & strategy officer - Kiel Taklalsingh
	
	8. Elections officer - William Archie
	
	9. Education officer - Shanta Devi Seepersad
	
	10. Research officer - Jason Ali
	
	11. Party organiser - Henry Awong
	
	12. International relations officer - Deochand Ramjit Singh
	
	13. North West regional representative - Ricky Shanklin
	
	14. Central regional representative - Dr Roshan Ali
	
	15. North East regional representative - Jairzinho Rigsby
	
	16. South regional representative - Imran Wayne Mohammed
	
	17. Tobago regional representative - Chinelle Roberts
	
	Lone independent candidate
	
	Deputy political leader - Robert Amar

	Election Results tentative the Star Team led by Kamla won handsomely over 
	the United Patriots led by Rolston Paray.
	The Kamla Persad-Bissessar-endorsed Star Team trounced Mayaro MP Rushton Paray’s United Patriots in the UNC’s national executive elections on Saturday.

Preliminary results released yesterday indicated that the Star Team slate won by an overwhelming majority.

Star slate candidates Senator Jearlean John, Oropouche East MP Dr Roodal Moonilal and Pointe-a-Pierre MP David Lee easily defeated United Patriots’ Paray, Tabaquite MP Anita Haynes-Alleyne and Cumuto/Manzanilla MP Dr Rai Ragbir for three deputy political leader positions.

Coming in with the lowest number of votes was the sole independent candidate for the deputy political leader position, businessman Robert Amar, with 426 votes. John garnered 13,083 votes, Lee was up to yesterday, showing 12,734 votes and Moonilal received 13,256 votes.

Paray’s vote count was 4,043 up to yesterday while Haynes-Alleyne had 3,780 votes and Ragbir got 3,279.

Battling for the position of party chairman were the Star Team’s Oropouche West MP Dave Tancoo and attorney Larry Lalla for United Patriots.

Tancoo got 13,228 votes in the preliminary results, while Lalla had gained 3,895 votes at the polls.

The position of deputy chairman was fought by United Patriots’ Germaine Abdulla and the Star Team’s Hamlyn Jailal.

Abdulla gained 4,019 votes, while Jailal showed up with 13,250 votes.

Star Team overwhelms

The Star Team’s majority over the United Patriots continued in other categories, including for positions in Tobago.

Aiming for the position of Policy and Strategy Officer were Barataria/San Juan MP Saddam Hosein for the Star Team and attorney Kiel Taklalsingh for United Patriots.

With 13,426 votes, Hosein ran past Tacklalsingh’s 4,054.

The post of Education Officer was contested by Couva North MP Ravi Ratiram for Star Team and Shanta Devi Seepersad for United Patriots. Ratiram came in with 13,304 votes and Seepersad got 3,953.

Going for the position of research officer were Star Team’s Jason Sobers who received 13,214 votes while United Patriots’ Jason Ali gained 3,950 votes.

The position of elections officer was sought after by Star Team’s Arnold Ram, who gained 13,331 and United Patriots’ William Archie received 3,874.

The post of treasurer was won by councillor Villiana Ramoutarsingh for Star Team, with 13,389 votes, while Dr Curtis Manchoon for United Patriots received 3,774 votes.

The position of party organiser was sought by United Patriots’ Henry Awong, chairman of the Couva/Tabaquite Regional Corporation, who gained 3,812 votes. That post was also contested for the Star Team by Princes Town MP Barry Padarath, who received 13,386 votes.

The position of international relations officer was won by Star Team’s Nicholas Morris, who gained 13,169 votes and United Patriots candidate Deochand Ramjit received 4,056 votes.

The UNC internal elections also saw candidates going for regional representative positions.

For the post of North West regional representative, Star Team’s Eli Zakour received 13,287 votes, while United Patriots’ Ricky Shanklin got 3,871.

For the North East representative position St Augustine MP Khadijah Ameen for the Star Team and Jairzinho Rigsby for United Patriots. Ameen received 13,479 votes, while Rigsby gained 3,686 votes.

The position for Central regional representative was contested by Roshan Ali for United Patriots, who gained 3,775 votes and Chaguanas East MP Vandana Mohit, who received 13,399 votes for the Star Team.

The South representative position was contested by Shanty Boodram for the Star Team and Imran Wayne Mohammed for United Patriots.

Boodram received 13,394 votes, while Mohammed got 3,789 votes.

The post of Tobago regional representative was also contested. Taking home 13,322 votes for the Star Team was Kenwyn Clyde Phillip, while United Patriots’ Chinelle Roberts received 3,855 votes.

The preliminary results were issued by chairman of the UNC’s elections management committee, Darrell Allahar.

Speaking at her Penal constituency office following the elections, Persad-Bissessar called on the membership to be prepared for local government and general elections.

reminded the party’s membership that two challenges were ahead and said the party was fully mobilised.

Kamla: Ready for

local, general

Opposition Leader and political leader of the UNC Persad-Bissessar on Saturday night called on the membership to be prepared for local government and general elections.

Speaking at her Penal constituency office following the elections, she reminded the party’s membership that two challenges were ahead and said the party was fully mobilised.

Persad-Bissessar said the UNC was ready for the two local government by-elections, for Lengua/Indian Walk and Quinam/Morne Diablo. The Opposition Leader said a general elections was also on the horizon and that the party was prepared.

Persad-Bissessar also called Saturday’s party internal elections the “worst” she has experienced.

With the bulk of preliminary results counted, Persad-Bissessar declared a landslide victory for her Star Team candidates, whom she had endorsed during the campaign.

Persad-Bissessar said the campaign had been a “battering” one, and which had included dishonesty.

“We faced a bruising and battering campaign...,” she said. “You remember the others came out and told you that we were not going to hold these elections so, from day one, the other team started with dishonesty.”

Persad-Bissessar added:

“I have gone through so many campaigns... as leader myself, six internal elections I have caused to be held in the party and this has been the worst,” she said

In a Facebook post yesterday to his constituency, Couva South MP Rudranath Indarsingh also thanked the party’s membership for taking part in the elections.

</Layout>
<Layout
	title="Independent:Peterson Morales by-elections"
	description="By-elections in Lengua/Indian Walk and Quinam/Morne Diablo"
	pubDate={new Date('June 17 2024')}
	heroImage="/ppost-44.0001.jpg"
    >
	
	<Layout
	title="UNC: Nicole Gopaul"
	description="By-elections in Lengua/Indian Walk and Quinam/Morne Diablo"
	pubDate={new Date('June 17 2024')}
	heroImage="/ppost-44.0002.jpg"
    ></Layout>
</Layout>
	<Layout
	title="PNM: Autly Granthume "
	description="By-elections in Lengua/Indian Walk and Quinam/Morne Diablo"
	pubDate={new Date('June 17 2024')}
	heroImage="/ppost-44.0003.jpg"
	>
	<strong>By-elections in Lengua/Indian Walk and Quinam/Morne Diablo</strong>


	<p>The UNC took the matter to Court but in January High Court Justice Marissa Robertson ruled that the petition had to be dismissed. The UNC appealed the decision but in January a three-judge panel at the Appeal Court in Port of Spain (Justices Charmaine Pemberton, Vasheist Kokaram and Carla Brown-Antoine) unanimously dismissed the UNC appeal that its candidate ought to have been declared the winner of the district following the last election in August 2023.

	Unlike other court matters, election petitions do not proceed to the Privy Council, meaning that the justices’ decision was final.
	
	Also contesting the Lengua/Indian Walk electoral district is 57-year-old technician Peterson Marinus Morales who is running as an independent candidate.
	
	A by-election is also being held in the electoral district of Morne Diablo/Quinam following the death of the Penal/Debe Regional Corporation chairman Diptee Ramnath in December 2023.
	
	The electoral district is being contested by the PNM’s candidate Anderson Nanan against the UNC’s Sarah Sookdeo.</p>
</Layout>
	
	
	



    
    


