---
import Layout from '../layouts/BlogPost.astro';
---
<Layout
	title="Portfolio Earning"
	description="Our Equities portfolio value on a dILY BASIS"
	pubDate={new Date('May 08 2024')}
	heroImage="/post-8.jpg"
>
<div>
	Market UpdateQuotes at least 15 mins delayed
OverviewFixed IncomeTop Broad Market Indices
Name	Price	Day Change
DJIA	39,869.38	 -38.62 (-0.10%)
S&P 500	5,297.10	 -11.05 (-0.21%)
NASDAQ	16,698.32	 -44.07 (-0.26%)

<hr />
Account Value
$149,202.43-$380.73-0.25%
Available Cash
$0.00
Available to Trade
$0.00
Available to Trade (Margin)
$295.42
</div>
</Layout>
<Layout
	title="Portfolio Earning"
	description="Our Equities portfolio value on a daily basis"
	pubDate={new Date('May 16 2024')}
	heroImage="/post-10.jpg"
>
<a href="https://docs.google.com/spreadsheets/d/1WYM-NNsDuQMfcO9deezlflHDrJjVf52-dhx_NjKynmw/edit?usp=sharing">HotSpot href="https://docs.google.com/spreadsheets/d/1WYM-NNsDuQMfcO9deezlflHDrJjVf52</a>
	Sector Update: Health Care Stocks Mixed in Late Afternoon Trading
03:58 PM EDT, 05/16/2024 (MT Newswires) -- Health care stocks were mixed late Thursday afternoon, with the NYSE Health Care Index decreasing 0.1% and the Health Care Select Sector SPDR Fund (XLV) up 0.1%.

The iShares Biotechnology ETF (IBB) was flat.

In corporate news, Clever Leaves (CLVR) shares soared 34% after the company said a private investment fund incorporated in Brazil bought an 8.5% stake via open-market deals.

Monte Rosa Therapeutics (GLUE) said it has priced an underwritten offering of shares and warrants for expected gross proceeds of about $100 million. Its shares added 0.4%.

Biogen (BIIB) and Ionis Pharmaceuticals (IONS) said they would cease development of BIIB105 after a phase 1/2 study showed the investigational ALS drug did not slow disease progression. Biogen shares dropped 2.2% and Ionis fell 4.4%.

Trupanion (TRUP) shares jumped 16% after BofA Securities upgraded the company to buy from neutral.


3:58 PM May 16, 2024 - MT Newswires
</Layout>
<div>
	Market UpdateQuotes at least 15 mins delayed
OverviewFixed IncomeTop Broad Market Indices
Name	Price	Day Change
DJIA	39,869.38	 -38.62 (-0.10%)
S&P 500	5,297.10	 -11.05 (-0.21%)
NASDAQ	16,698.32	 -44.07 (-0.26%)

<hr />
Account Value
$149,002.43-$380.73-0.25%
Available Cash
$0.00
Available to Trade
$0.00
Available to Trade (Margin)
$295.42
</div>
</Layout>
<Layout
	title="Portfolio Earning end of week"
	description="Our Equities portfolio value on a daily basis"
	pubDate={new Date('May 16 2024')}
	heroImage="/portf-2.jpg"
>
<div>
	Market UpdateQuotes at least 15 mins delayed
	OverviewFixed IncomeTop Broad Market Indices
	Name	Price	Day Change
	DJIA	39,929.65	 60.27 (0.15%)
	S&P 500	5,297.58	 0.48 (0.01%)
	NASDAQ	16,692.26	 -6.06 (-0.04%)
	Index Compare Chart for DJIA during market hours on 5/17/2024.
	No Data Available
</div>
<div>
	Total
$149,058.05
+$50.53 +0.03%
Equities
88.52%
$131,947.57
+$61.61 +0.05%
Investment ...
11.28%
$16,813.65
-$12.49 -0.07%
Cash, Money...
0.20%
$296.83
+$1.41 +0.48%
</div><div>
	Total
$149,233.87
+$226.35 +0.15%
Equities
88.47%
$132,031.72
+$145.76 +0.11%
Investment ...
11.33%
$16,905.32
+$79.18 +0.47%
Cash, Money...
0.20%
$296.83
+$1.41 +0.4
</div>
</Layout>
<Layout
	title="Portfolio Earning Monday 20 May 2024"
	description="Uncertain Dow"
	pubDate={new Date('May 20 2024')}
	heroImage="/ppost-40.jpg"
>
<p>
	Total PM
	$149,148.63 -$80.52 -0.05%

	Equities
	88.62% $132,  169.51 +$142.51 +0.11%

	Investment ...
	11.18%  $16,680.47 -$224.85 -1.33%

	Cash, Money...
	0.20% $298.65  +$1.82   +0.6
		</p>
	<p>Market
		Market UpdateQuotes at least 15 mins delayed
		OverviewFixed IncomeTop Broad Market Indices
		Name	Price		Day Change
		DJIA	39,806.77	 -196.82 (-0.49%)
		S&P500	0.00		 0.00  (0.00%)
		NASDAQ	16,794.87	 108.91 (0.65%)
		
</p>
</Layout>
<Layout
	title="Portfolio Earning"
	description="Our Equities portfolio value on a daily basis"
	pubDate={new Date('May 16 2024')}
	heroImage="/post-10.jpg"
>
<h3>Tuesday May 21 2024</h3>
<p>
	
Total
$149,488.62
+$338.50 +0.23%
Equities
88.64%
$132,503.60
+$332.60 +0.25%
Investment ...
11.16%
$16,686.37
+$5.90 +0.04%
Cash, Money...
0.20%
$298.65
$0.00 0.00%
</p>
</Layout>
<Layout
	title="Portfolio Earning to 200k"
	description="Our Equities portfolio value over 155k"
	pubDate={new Date('June 13 2024')}
	heroImage="/post-29.jpg"
>
Thursday  Close
<p>
	
Total
$157,709.10  +$1,333.... +0.85%

Equities
89.32%
$140,873.51    +$1,336.77 +0.96%

Investment ...
10.42%
$16,427.48      -$18.78 -0.11%

Cash, Money...
0.26%
$408.11
+$15.05 +3.83%
</p>
Market UpdateQuotes at least 15 mins delayed
OverviewFixed Income

Top Broad Market Indices
Name	Price	Day Change

DJIA	38,647.10	 -65.11 (-0.17%)

S&P 500	5,433.74	 12.71 (0.23%)

NASDAQ	17,667.56	 59.12 (0.34%)

US STOCKS-Nasdaq, S&P 500 post all-time closing highs for 4th day as tech boosts
*
May PPI falls unexpectedly, weekly jobless claims at 10-month high

*
Broadcom soars after FY forecast raise on AI chips strength

*
Indexes: Dow down 0.2%, S&P 500 up 0.2%, Nasdaq up 0.3%
</Layout>
<Layout
	title="Portfolio Earning to 200k"
	description="Our Equities portfolio value over 155k"
	pubDate={new Date('June 14 2024')}
	heroImage="/post-29.jpg"
>
Friday open-market

Total
$157,229.03
-$484.79 -0.31%

Equities
89.35%
$140,479.92
-$398.31 -0.28%

Investment ...
10.39%
$16,332.51
-$94.97 -0.58%

Cash, Money...
0.26%
$416.60
+$8.49 +2.08

Midday

Total
$157,599.10
-$114.72 -0.07%

Equities
89.37%
$140,843.15
-$35.08 -0.02%

Investment ...
10.37%
$16,339.35
-$88.13 -0.54%

Cash, Money...
0.26%
$416.60
+$8.49 +2.08%
</Layout>
<Layout
	title="Mid day Earning to 200k"
	description="Our Equities portfolio value over 155k"
	pubDate={new Date('June 14 2024')}
	heroImage="/post-31.jpg"
>
Market UpdateQuotes at least 15 mins delayed
OverviewFixed Income

Top Broad Market Indices
Name	Price	Day Change

DJIA	38,520.87	 -126.23 (-0.33%)

S&P 500	5,425.68	 -8.06 (-0.15%)

NASDAQ	17,675.88	 8.32 (0.05%)

Close

Total
$157,776.25
+$62.43 +0.04%
Equities
89.38%
$141,028.24
+$150.01 +0.11%
Investment ...
10.35%
$16,331.41
-$96.07 -0.58%
Cash, Money...
0.26%
$416.60
+$8.49 +2.08%
</Layout>
<Layout
	title="Friday close to 200k"
	description="Our Equities portfolio value over 155k"
	pubDate={new Date('June 14 2024')}
	heroImage="/post-32.jpg"
>
Market UpdateQuotes at least 15 mins delayed
OverviewFixed Income
<p>
Top Broad Market Indices
Name	Price	Day Change

DJIA	38,520.87	 -126.23 (-0.33%)

S&P 500	5,425.68	 -8.06 (-0.15%)

NASDAQ	17,675.88	 8.32 (0.05%)
</p>
<p>
Total
$157,776.25
+$62.43 +0.04%

Equities
89.38%
$141,028.24
+$150.01 +0.11%

Investment ...
10.35%
$16,331.41
-$96.07 -0.58%

Cash, Money...
0.26%
$416.60
+$8.49 +2.08%
</p>
Market UpdateQuotes at least 15 mins delayed
<p>
OverviewFixed Income
Top Broad Market Indices
Name	Price	Day Change

DJIA	38,589.16	 -57.94 (-0.15%)

S&P 500	5,431.60	 -2.14 (-0.04%)

NASDAQ	17,688.88	 21.32 (0.12%)
</p>
</Layout>
<Layout
	title="Monday Open to 200k"
	description="Our Equities portfolio value over 155k"
	pubDate={new Date('June 17 2024')}
	heroImage="/post-34.jpg"
>
Total
$159,033.12
+$1,243.... +0.79%
Equities
89.43%
$142,231.05
+$1,188.60 +0.84%
Investment ...
10.27%
$16,338.04
+$7.50 +0.05%
Cash, Money...
0.29%
$464.03
+$47.43 +11.39

Market UpdateQuotes at least 15 mins delayed
OverviewFixed IncomeTop Broad Market Indices
Name	Price	Day Change
DJIA	38,683.80	 94.64 (0.25%)
S&P 500	5,461.40	 29.80 (0.55%)
NASDAQ	17,802.71	 113.82 (0.64%)

<h2>Virtual Meeting</h2>
Control #
0686905622227463
VF CORPORATION
2024 Annual Meeting
To be held Tuesday, July 23, 2024

Attend This Meeting
Attend Virtually
Meeting Web Address:
https://www.virtualshareholdermeeting.com/VFC2024
CUSIP:
918204

V.F. CORPORATION is hosting a Virtual Shareholder Meeting on Tuesday, July 23, 2024 at 10:30 AM, Mountain Time, and the shareholders of record will be able to vote online during the meeting. If you would like to attend the virtual meeting and have your control number, please log in 15 minutes prior to the start of the meeting.

Test your browser's compatibility

<h1>DARKTRACE PLC</h1>

2024 Extraordinary General Meeting
Issuer Information
These security numbers are used to identify a given security and facilitate the trading, clearing, and settlement of securities transactions, especially across borders.

Meeting Information
General event specific details including important dates.

Additional Rights Details
Specific rights granted to the shareholders that can be exercised at shareholders meetings, for example, the right to ask questions, the right to add items to the agenda or table draft resolutions.

Issuer Participation Details
Details regarding all acceptable forms of voting participation by a shareholder for a given event. When voting via ProxyVote, please refer to the vote deadline provided in the Meeting Information section above.

Issuer's Correspondence Voting Deadline
Not Available

Issuer's Electronic Voting Deadline
June 14, 2024 02:45 p.m.

Issuer's In-Person Voting Deadline
June 14, 2024 02:45 p.m.

Issuer's Not Voting Deadline
Not Available

Issuer's Proxy Voting Deadline
June 14, 2024 02:45 p.m.

Issuer's Virtual Voting Deadline
Not Available

</Layout>
<Layout
	title="Monday Close with bulls to 200k"
	description="Our Equities portfolio value approx 160k"
	pubDate={new Date('June 17 2024')}
	heroImage="/post-34.0001.jpg"
	>
Market UpdateQuotes at least 15 mins delayed
OverviewFixed IncomeTop Broad Market Indices
Name	Price	Day Change
DJIA	38,778.10	 188.94 (0.49%)
S&P 500	5,473.23	 41.63 (0.77%)
NASDAQ	17,857.02	 168.14 (0.95%)

<p>
	Account Value
	$159,268.75$1,479.160.93%
	Available Cash
	$464.03
	Available to Trade
	$464.03
	Available to Trade (Margin)
	$464.03

</P>
<p>
	Total
$159,268.91
+$1,479.... +0.94%

Equities
89.42%
$142,424.46
+$1,382.01 +0.98%

Investment ...
10.28%
$16,380.42
+$49.88 +0.31%
Cash, Money...

0.29%
$464.03
+$47.43 +11.3
</p>

</Layout>
<Layout
	title="Tuesday start over 160k"
	description="Our Equities portfolio value over 160k to 200k"
	pubDate={new Date('June 18 2024')}
	heroImage="/post-35.0001.jpg"
	>
	Total
	$160,119.35
	+$852.60 +0.54%
	Equities
	89.47%
	$143,255.37
	+$833.07 +0.58%
	Investment ...
	10.24%
	$16,399.95
	+$19.53 +0.12%
	Cash, Money...
	0.29%
	$464.03
	$0.00 0.00

	<p>
		Market UpdateQuotes at least 15 mins delayed
OverviewFixed IncomeTop Broad Market Indices
Name	Price	Day Change
DJIA	38,791.17	 13.07 (0.03%)
S&P 500	5,480.61	 7.38 (0.13%)
NASDAQ	17,847.15	 -9.87 (-0.06%)

	</p>
</Layout>
<Layout
	title="Tuesday close over 160k"
	description="Our Equities portfolio value over 160k to 200k"
	pubDate={new Date('June 18 2024')}
	heroImage="/post-35.0002.jpg"
	>
Total
$160,415.12
+$1,148.... +0.72%
Equities
89.47%
$143,518.08
+$1,095.78 +0.77%
Investment ...
10.24%
$16,433.01
+$52.59 +0.32%
Cash, Money...
0.29%
$464.03
$0.00 0.00

<p>
	Market UpdateQuotes at least 15 mins delayed
OverviewFixed IncomeTop Broad Market Indices
Name	Price	Day Change
DJIA	38,834.86	 56.76 (0.15%)
S&P 500	5,487.03	 13.80 (0.25%)
NASDAQ	17,862.23	 5.21 (0.03%)

</p>
</Layout>
<Layout
	title="Thursday close less than 160k"
	description="Our Equities portfolio value between 158k & 160k "
	pubDate={new Date('June 20 2024')}
	heroImage="/post-36.0001.jpg"
	>

	Total
	$158,495.29
	-$1,915.... -1.19%
	Equities
	89.34%
	$141,601.30
	-$1,912.08 -1.33%
	Investment ...
	10.37%
	$16,428.25
	-$4.76 -0.03%
	Cash, Money...
	0.29%
	$465.74
	+$1.71 +0.37%

	Market UpdateQuotes at least 15 mins delayed
OverviewFixed IncomeTop Broad Market Indices
Name	Price	Day Change
DJIA	39,134.76	 299.90 (0.77%)
S&P 500	5,473.17	 -13.86 (-0.25%)
NASDAQ
</Layout>
<Layout
title="Portfolio update to 160k"
description="NVDA on the rise "
pubDate={new Date('June 25 2024')}
heroImage="/post-36.0002.jpg"
>
Total
$157,090.57
+$1,184.... +0.76%
Equities
89.45%
$140,516.70
+$1,198.96 +0.86%
Investment ...
10.50%
$16,489.90
-$14.76 -0.09%
Cash, Money...
0.05%
$83.97
$0.00 0.00

Market UpdateQuotes at least 15 mins delayed
OverviewFixed IncomeTop Broad Market Indices
Name	Price	Day Change
DJIA	39,286.65	 136.32 (0.35%)
S&P 500	5,462.43	 14.56 (0.27%)
NASDAQ	17,638.11	 -51.25 (-0.29%)

</Layout>
<Layout
title=" Tuesday 25 June portfolio close to  160k"
description="NVDA on the rise "
pubDate={new Date('June 25 2024')}
heroImage="/post-36.0003"
>

Total
$158,016.76
+$2,110.... +1.35%
Equities
89.53%
$141,465.49
+$2,147.75 +1.54%
Investment ...
10.42%
$16,467.30
-$37.36 -0.23%
Cash, Money...
0.05%
$83.97
$0.00 0.00%

Market UpdateQuotes at least 15 mins delayed
OverviewFixed IncomeTop Broad Market Indices
Name	Price	Day Change
DJIA	39,112.16	 -299.05 (-0.76%)
S&P 500	5,469.30	 21.43 (0.39%)
NASDAQ	17,717.65	 220.84 (1.26%)
</Layout>
<Layout
title="Chipolte split 50:1"
description="NVDA corrected and back bullish "
pubDate={new Date('June 26 2024')}
heroImage="/post-36.0004.jpg"
>
Total
$157,504.33
-$507.85 -0.32%
Equities
89.54%
$141,021.81
-$439.10 -0.31%
Investment ...
10.41%
$16,394.57
-$72.73 -0.44%
Cash, Money...
0.06%
$87.95
+$3.98 +4.74

Market UpdateQuotes at least 15 mins delayed
OverviewFixed IncomeTop Broad Market Indices
Name	Price	Day Change
DJIA	39,026.40	 -85.76 (-0.22%)
S&P 500	5,457.65	 -11.65 (-0.21%)
NASDAQ	17,724.57	 6.92 (0.04%)

</Layout>
<Layout
	title="Thursday 27 June up to 158k"
	description="Portfolio "
	pubDate={new Date('June 27 2024')}
	heroImage="/post-36.0005.jpg"
	>
	Market UpdateQuotes at least 15 mins delayed
OverviewFixed IncomeTop Broad Market Indices
Name	Price	Day Change
DJIA	39,118.03	 -9.77 (-0.02%)
S&P 500	5,475.93	 -1.97 (-0.04%)
NASDAQ	17,848.28	 43.13 (0.24%)


Total
$158,057.88
-$852.35 -0.54%
Equities
89.54%
$141,531.97
-$858.74 -0.60%
Investment ...
10.40%
$16,437.96
+$6.39 +0.04%
Cash, Money...
0.06%
$87.95
$0.00 0.00
</Layout>
<Layout
	title="Friday 28 June up to 158k"
	description="Portfolio update"
	pubDate={new Date('June 28 2024')}
	heroImage="/post-36.0006.jpg"
>
Total
$157,905.59
-$175.48 -0.11%
Equities
89.49%
$141,314.67
-$226.56 -0.16%
Investment Funds
10.41%
$16,441.24
-$10.65 -0.06%
Cash, Money Funds and Bank Deposits
0.09%
$149.68
+$61.73 +70.19
Market UpdateQuotes at least 15 mins delayed
OverviewFixed IncomeTop Broad Market Indices
Name	Price	Day Change
DJIA	39,157.51	 -6.55 (-0.02%)
S&P 500	5,483.98	 1.11 (0.02%)
NASDAQ	17,841.02	 -17.67 (-0.10%)
Close
Total
$157,319.83
-$761.24 -0.48%
Equities
89.48%
$140,770.31
-$770.92 -0.54%
Investment Funds
10.42%
$16,399.84
-$52.05 -0.32%
Cash, Money Funds and Bank Deposits
0.10%
$149.68
+$61.73 +70.19
</Layout>
<Layout
	title="Friday 28 June up to 158k"
	description="Portfolio update"
	pubDate={new Date('June 28 2024')}
	heroImage="/post-36.0007.jpg"
>
Total
$157,319.83
-$761.24 -0.48%
Equities
89.48%
$140,770.31
-$770.92 -0.54%
Investment Funds
10.42%
$16,399.84
-$52.05 -0.32%
Cash, Money Funds and Bank Deposits
0.10%
$149.68
+$61.73 +70.19

Market UpdateQuotes at least 15 mins delayed
OverviewFixed IncomeTop Broad Market Indices
Name	Price	Day Change
DJIA	39,118.86	 -45.20 (-0.12%)
S&P 500	5,460.48	 -22.39 (-0.41%)
NASDAQ	17,732.60	 -126.08 (-0.71%
</Layout>
<Layout
	title="Monday July 1 up to 158k"
	description="Portfolio update"
	pubDate={new Date('July 1 2024')}
	heroImage="/post-37.0001.jpg"
>
Market UpdateQuotes at least 15 mins delayed
OverviewFixed IncomeTop Broad Market Indices
Name	Price	Day Change
DJIA	39,185.09	 66.23 (0.17%)
S&P 500	5,471.85	 11.37 (0.21%)
NASDAQ	17,847.14	 114.54 (0.65%)


Total
$157,615.63
+$299.51 +0.19%
Equities
89.48%
$141,030.13
+$263.53 +0.19%
Investment Funds
10.41%
$16,409.26
+$9.42 +0.06%
Cash, Money Funds and Bank Deposits
0.11%
$176.24
+$26.56 +17.74
LOGO
2024 Annual Meeting
To be held Wednesday, July 31, 2024

Attend This Meeting
Attend Virtually
Meeting Web Address:
https://www.virtualshareholdermeeting.com/MCK2024
CUSIP:
58155Q

Control #
6827880377776880

MCKESSON CORPORATION will be hosting an online Virtual Meeting. Please retain the email you used to enter ProxyVote or your printed proxy materials. You will need the control number contained within to attend the Virtual Meeting. To attend the meeting, go to https://www.virtualshareholdermeeting.com/MCK2024opens in new window. 15 minutes prior to the meeting start time to sign in.

Please review the proxy statement for more information.

</Layout>
<Layout
	title="Tuesday July 2 up to 159k"
	description="Portfolio update"
	pubDate={new Date('July 2 2024')}
	heroImage="/post-37.0003.jpg"
>
Market UpdateQuotes at least 15 mins delayed
OverviewFixed IncomeTop Broad Market Indices
Name	Price	Day Change
DJIA	39,113.64	 -55.88 (-0.14%)
S&P 500	5,479.20	 4.11 (0.08%)
NASDAQ	17,922.73	 43.43 (0.24%)

Total
$158,329.47
+$440.45 +0.28%
Equities
89.53%
$141,745.31
+$455.02 +0.32%
Investment Funds
10.37%
$16,417.93
-$13.69 -0.08%
Cash, Money Funds and Bank Deposits
0.10%
$166.23
-$0.88 -0.53

</Layout>
<Layout
	title="Tuesday July 2 up to 159k"
	description="Portfolio update"
	pubDate={new Date('July 2 2024')}
	heroImage="/post-37.0004.jpg"
>
Total
$158,992.10
+$1,103.... +0.70%
Equities
89.55%
$142,376.47
+$1,086.18 +0.77%
Investment Funds
10.35%
$16,449.40
+$17.78 +0.11%
Cash, Money Funds and Bank Deposits
0.10%
$166.23
-$0.88 -0.53%
Market UpdateQuotes at least 15 mins delayed
OverviewFixed IncomeTop Broad Market Indices
Name	Price	Day Change
DJIA	39,331.85	 162.33 (0.41%)
S&P 500	5,509.01	 33.92 (0.62%)
NASDAQ	18,028.76	 149.46 (0.84%)

Advancers/DeclinersMarket data is at least 15 min delayed
Daily MoversLong-term Trends
NYSE Composite
Issues Total: 2,885
ADVANCING: 1,846DECLINING: 959
64.0%33.2%
Volume Total: 3.3B
ADVANCING: 2BDECLINING: 1B
59.6%39.0%
AMEX
Issues Total: 309
ADVANCING: 118DECLINING: 176
38.2%57.0%
Volume Total: 738.1M
ADVANCING: 656MDECLINING: 79M
88.9%10.7%
NASDAQ
Issues Total: 4,355
ADVANCING: 2,157DECLINING: 2,059
49.5%47.3%
Volume Total: 4.5B
ADVANCING: 2BDECLINING: 2B
51.9%47.5%
Breadth was mildly positive across US markets on Tuesday, with 4,121 advancing issues and 3,194 declining issues. The cumulative Advance/Decline line for the NYSE, which gives a longer term view of the breadth of participation in market trends, is moving higher and shows that buyers are accumulating shares across a broad list of stocks.
A Market in Motion…
Welcome to the third quarter. After the S&P 500’s 10.2% jump in the first quarter (Q1), which was the 11th highest
since WWII, the second quarter (Q2) maintained an upward trajectory when the S&P 500 posted an aboveaverage gain of 3.9%. As a result, the 500’s first half (H1) rise of 14.5% is the second strongest election year gain
since 1944. What’s more, history offers encouragement (but no guarantee) for gains to continue and for
sequential improvements in the third quarter (Q3), fourth quarter (Q4), and second half (H2). Indeed, as seen in
the table below for all election years since WWII, the S&P 500 posted Q3, Q4, and H2 average increases of 0.9%,
2.4%, and 3.5%, respectively. Following positive H1s, all three subsequent periods posted improved averages of
1.0%, 3.8%, and 4.9%. Better yet, when H1 was in the top 10, the S&P 500 not only recorded advances of 1.4%,
3.7%, and 5.2%, but also saw the frequency of advance (FoA) climb in all three periods, reaching
g 90% for H2
(with only 1948 in the red). So, in other words, a market in motion tends to stay in motion.
Narrowing the observation set to all years since 1990, which is as far back as S&P Global has sector-level data,
the S&P 500’s H1 gain was the sixth highest. More important, even though investors are becoming anxious about
a potential reversal of fortune, history offers a bit of encouragement since all top-10 first halves since 1990 rose in
price in H2, averaging 10.8%, even though seven of these 10 years endured H2 declines of 5% or more. Past
performance is no guarantee of future results, but the top three sectors and top 10 sub-industries during H1
continued to outpace the S&P 500 70% of the time in H2 and recorded above-market average increases of 12.9%
and 12.4%, respectively. This time around, Communication Services, Energy, and Information Technology were
the best-performing sectors, while Broadline Retail, Construction & Engineering, Electronic Components,
Homefurnishing Retail, Independent Power Producers, Interactive Media & Services, Marine Transportation,
Paper Products, Semiconductor Materials & Equipment, and Semiconductors were the top-10 sub-industries.
Representative U.S.-listed companies from these 10 sub-industries are: Amazon.com Inc. (AMZN 193 ****),
AECOM (ACM 88 ****), Corning Incorporated (GLW 39 ****), Williams-Sonoma Inc. (WSM 282 ***), The AES
Corporation (AES 18 ***), Meta Platforms Inc. (META 504 ****), Kirby Corporation (KEX 120 NR), Clearwater
Paper Corporation (CLW 48 NR), Entegris Inc. (ENTG 135 ****), and NVIDIA Corporation (NVDA 124 ****).
S&P 500 Price Returns During Presidential Election Years Since 1944
Year H1 % Chg Up? Rank Q3 % Chg Up? Q4 % Chg Up? H2 % Chg Up? Q3 Up? Q4 Up? H2 Up? Q3 Up? Q4 Up? H2 Up?
1944 11.2 1 3 (1.8) 0 4.2 1 2.3 1 (1.8) 0 4.2 1 2.3 1 (1.8) 0 4.2 1 2.3 1
1948 9.4 1 5 (7.5) 0 (1.9) 0 (9.2) 0 (7.5) 0 (1.9) 0 (9.2) 0 (7.5) 0 (1.9) 0 (9.2) 0
1952 5.0 1 10 (1.7) 0 8.3 1 6.5 1 (1.7) 0 8.3 1 6.5 1 (1.7) 0 8.3 1 6.5 1
1956 3.3 1 12 (3.4) 0 2.9 1 (0.6) 0 (3.4) 0 2.9 1 (0.6) 0
1960 (5.0) 0 19 (6.0) 0 8.6 1 2.1 1
1964 8.9 1 6 3.0 1 0.7 1 3.7 1 3.0 1 0.7 1 3.7 1 3.0 1 0.7 1 3.7 1
1968 3.2 1 13 3.1 1 1.2 1 4.3 1 3.1 1 1.2 1 4.3 1
1972 4.9 1 11 3.2 1 6.8 1 10.2 1 3.2 1 6.8 1 10.2 1 3.2 1 6.8 1 10.2 1
1976 15.6 1 1 0.9 1 2.1 1 3.0 1 0.9 1 2.1 1 3.0 1 0.9 1 2.1 1 3.0 1
A Typically Challenging Q3
Again, since 1990, the market, as well as its
sectors and sub-industries, typically faced
challenging times in Q3, as the S&P 500
slipped an average 0.1%, accompanied by
average declines for small caps and value
stocks, along with six of the 11 sectors, while
fewer than half of the sectors and subindustries posted average increases.
Leadership was typically seen in the
defensive sectors of consumer staples,
health care, and utilities, along with
information technology, while the laggards
included communication services, consumer
discretionary, and materials.
More specifically, as seen in the table at top
right, the S&P 500 sub-industries in
existence for 30 years or more with the best
average Q3 returns included biotechnology,
footwear, and health care facilities, while the
worst returns were endured by the home
furnishings, leisure products, and steel.
Representative U.S.-listed companies from
the best of the 66 sub-industries’ Q3 returns
with at least 30 years of history are: Amgen
Inc. (AMGN 312 ****), Crocs Inc. (CROX 146
*****), HCA Healthcare Inc. (HCA 321 ***),
Colgate-Palmolive Company (CL 97 ****),
The Home Depot Inc. (HD 344 ***), Marvell
Technology Inc. (MRVL 70 *****), American
Express Company (AXP 232 *****), and
Insulet Corporation (PODD 202 ****).
AsAs seen in the accompanying table, once the
volatile Q3 period has run its course,
however, the market and its components
typically redounded in Q4. On average, the S&P 500 rose 5.1%, with both the growth and value groups posting
similarly impressive results. In addition, small- and mid-cap stocks typically outpaced their large-cap brethren.
Even more impressive, all 11 sectors recorded positive returns, with the best coming from industrials, information
technology, and materials, and the weakest gains seen in the energy, real estate, and utilities groups.
Economic Reports in the Coming Week
Action Economics (AE) reminds us that the week ahead includes several key economic releases and events, with
the July 4 holiday in between. Data includes Friday’s June jobs report, which should show a 190K climb in
nonfarm payrolls, a 0.3% rise in hourly earnings, versus the prior month’s 0.4% increase, and an unchanged
unemployment rate of 4.0%. Other reports include a decline in the June ISM-NMI report to a reading of 51.5 from
53.8 in May. In addition, Fed Chair Powell and ECB President Lagarde will be speaking next week at the annual
central banker meeting in Sintra, Portugal. There will also be Fedspeak from Williams at the ECB forum
(Wednesday), as well as the FOMC minutes of the June 11-12 policy meeting to be released on Wednesday.
</Layout>
<Layout
	title="Wednesday July 3 up to 160k"
	description="Portfolio update"
	pubDate={new Date('July 3 2024')}
	heroImage="/post-37.0005.jpg"
	>
	
Total
$160,974.76
+$1,981.... +1.25%
Equities
89.66%
$144,333.31
+$1,955.46 +1.37%
Investment Funds
10.23%
$16,475.22
+$25.82 +0.16%
Cash, Money Funds and Bank Deposits
0.10%
$166.23
$0.00 0.00%
Market UpdateQuotes at least 15 mins delayed
OverviewFixed IncomeTop Broad Market Indices
Name	Price	Day Change
DJIA	39,308.00	 -23.85 (-0.06%)
S&P 500	5,537.02	 28.01 (0.51%)
NASDAQ	18,188.30	 159.54 (0.88%)
</Layout>
<Layout
title="Friday July 5 up to 165k"
description="Portfolio update"
pubDate={new Date('July 5 2024')}
heroImage="/post-37.0006.jpg"
>
Total
$161,721.79
+$752.33 +0.47%
Equities
89.70%
$145,070.39
+$742.38 +0.51%
Investment Funds
10.18%
$16,470.82
-$4.40 -0.03%
Cash, Money Funds and Bank Deposits
0.11%
$180.58
+$14.35 +8.63%
Market UpdateQuotes at least 15 mins delayed
OverviewFixed IncomeTop Broad Market Indices
Name	Price	Day Change
DJIA	39,354.47	 46.47 (0.12%)
S&P 500	5,562.30	 25.28 (0.46%)
NASDAQ	18,335.72	 147.42 (0.81%)

Live Briefs News
US Treasury Closing Levels
03:00 PM EDT, 07/05/2024 (MT Newswires) -- 3:00 Friday vs 2:00 Wednesday

2yr 100-01+ vs 99-26; 4.597% vs 4.706%

5yr 100-04 vs 99-21; 4.216% vs 4.324%

10yr 100-26 vs 100-03; 4.271% vs 4.357%

30yr 102-18 vs 101-18; 4.467% vs 4.529%

2/10 -32.880 bps vs -35.343 bps

5/30 24.928 bps vs 20.053 bps


3:00 PM Jul 5, 2024 - MT Newswires
NYSE Composite
Issues Total: 2,863
ADVANCING: 1,117DECLINING: 1,679
39.0%58.6%
Volume Total: 1.9B
ADVANCING: 853MDECLINING: 1B
45.1%54.2%
AMEX
Issues Total: 298
ADVANCING: 153DECLINING: 132
51.3%44.3%
Volume Total: 149.9M
ADVANCING: 57MDECLINING: 90M
38.2%59.9%
NASDAQ
Issues Total: 4,239
ADVANCING: 1,790DECLINING: 2,317
42.2%54.7%
Volume Total: 3.6B
ADVANCING: 2BDECLINING: 1B

</Layout>
<Layout
title="Friday July 5 Close up to 165k"
description="Portfolio Summary Close"
pubDate={new Date('July 5 2024')}
heroImage="/post-37.0007.jpg"
>

Total
$161,769.46
+$800.00 +0.50%
Equities
89.71%
$145,116.17
+$788.16 +0.55%
Investment Funds
10.18%
$16,472.71
-$2.51 -0.02%
Cash, Money Funds and Bank Deposits
0.11%
$180.58
+$14.35 +8.63%
Market UpdateQuotes at least 15 mins delayed
OverviewFixed IncomeTop Broad Market Indices
Name	Price	Day Change
DJIA	39,375.87	 67.87 (0.17%)
S&P 500	5,567.19	 30.17 (0.54%)
NASDAQ	18,352.76	 164.46 (0.90%)

</Layout>
<Layout
title="Monday July 8 start up to 162k"
description="Portfolio Summary "
pubDate={new Date('July 8 2024')}
heroImage="/post-37.0009.jpg"
>
Market UpdateQuotes at least 15 mins delayed
OverviewFixed IncomeTop Broad Market Indices
Name	Price	Day Change
DJIA	39,344.79	 -31.08 (-0.08%)
S&P 500	5,572.85	 5.66 (0.10%)
NASDAQ	18,403.74	 50.98 (0.28%)

Total
$161,609.67
-$161.31 -0.10%
Equities
89.67%
$144,915.81
-$201.88 -0.14%
Investment Funds
10.21%
$16,503.46
+$30.75 +0.19%
Cash, Money Funds and Bank Deposits
0.12%
$190.40
+$9.82 +5.44
</Layout>
<Layout
title="Tuesday July 9 start at 162k"
description="Portfolio Summary "
pubDate={new Date('July 9 2024')}
heroImage="/post-38.0000.jpg"
>
Market UpdateQuotes at least 15 mins delayed
OverviewFixed IncomeTop Broad Market Indices
Name	Price	Day Change
DJIA	39,307.28	 -37.51 (-0.10%)
S&P 500	5,585.80	 12.95 (0.23%)
NASDAQ	18,458.77	 55.03 (0.30%)
<p>
Total
$162,613.02
+$1,001.... +0.62%
Equities
89.74%
$145,929.83
+$1,012.46 +0.70%
Investment Funds
10.14%
$16,490.86
-$12.60 -0.08%
Cash, Money Funds and Bank Deposits
0.12%
$192.33
+$1.93 +1.01%</p>
<h1>The Close for Tuesday USD161.9k</h1>
<p>
	
Total
$161,971.50
+$360.27 +0.22%
Equities
89.74%
$145,350.32
+$432.95 +0.30%
Investment Funds
10.14%
$16,428.85
-$74.61 -0.45%
Cash, Money Funds and Bank Deposits
0.12%
$192.33
+$1.93 +1.01
</p>
<p>
	Market UpdateQuotes at least 15 mins delayed
OverviewFixed IncomeTop Broad Market Indices
Name	Price	Day Change
DJIA	39,291.97	 -52.82 (-0.13%)
S&P 500	5,576.98	 4.13 (0.07%)
NASDAQ	18,429.29	 25.55 (0.14%)
The Index Compare chart shows a line graph tracking the price of the DJIA during the market hours on 7/9/2024.
No Data Available
</p>
</Layout>
<Layout
title="Tuesday July 9 close at 162k"
description="Portfolio Summary "
pubDate={new Date('July 9 2024')}
heroImage="/post-38.0001.jpg"
>
	
Total
$161,971.50
+$360.27 +0.22%
Equities
89.74%
$145,350.32
+$432.95 +0.30%
Investment Funds
10.14%
$16,428.85
-$74.61 -0.45%
Cash, Money Funds and Bank Deposits
0.12%
$192.33
+$1.93 +1.01
</p>
<p>
	Market UpdateQuotes at least 15 mins delayed
OverviewFixed IncomeTop Broad Market Indices
Name	Price	Day Change
DJIA	39,291.97	 -52.82 (-0.13%)
S&P 500	5,576.98	 4.13 (0.07%)
NASDAQ	18,429.29	 25.55 (0.14%)
The Index Compare chart shows a line graph tracking the price of the DJIA during the market hours on 7/9/2024.
No Data Available
</p>
</Layout>
<layout
title="Wednesday July 10 start at 161k"
description="Portfolio Summary "
pubDate={new Date('July 10 2024')}
heroImage="/post-38.0002.jpg"
<p>
	Use the <code>title</code> attribute on an <code>iframe</code> to clearly identify the content of the
	<code>iframe</code> to screen readers.
  </p>
  
  <iframe title="Wikipedia page for the HTML language" src="https://en.m.wikipedia.org/wiki/HTML"></iframe>
  <iframe title="Wikipedia page for the CSS language" src="https://en.m.wikipedia.org/wiki/CSS"></iframe>
>
Total
$163,482.60
+$1,511.... +0.93%
Equities
89.81%
$146,820.57
+$1,470.77 +1.01%
Investment Funds
10.07%
$16,469.70
+$40.85 +0.25%
Cash, Money Funds and Bank Deposits
0.12%
$192.33
$0.00 0.00%
<p>
	Market UpdateQuotes at least 15 mins delayed
OverviewFixed IncomeTop Broad Market Indices
Name	Price	Day Change
DJIA	39,544.09	 252.12 (0.64%)
S&P 500	5,618.87	 41.89 (0.75%)
NASDAQ	18,604.43	 175.13 (0.95%)
</p>

</layout>
<Layout
title="Wednesday July 10 start at 162k"
description="Portfolio Summary "
pubDate={new Date('July 10 2024')}
heroImage="/post-38.0003.png"
>
Total
$163,690.40
+$1,719.... +1.06%
Equities
89.81%
$147,015.26
+$1,665.46 +1.15%
Investment Funds
10.07%
$16,482.81
+$53.96 +0.33%
Cash, Money Funds and Bank Deposits
0.12%
$192.33
$0.00 0.00%
<p>
	Market UpdateQuotes at least 15 mins delayed
OverviewFixed IncomeTop Broad Market Indices
Name	Price	Day Change
DJIA	39,726.30	 434.33 (1.11%)
S&P 500	5,632.00	 55.02 (0.99%)
NASDAQ	18,650.35	 221.05 (1.20%)

</p>
</Layout>



